body {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: #F3EFE0;
    color: #F3EFE0;
    margin: 0px;
    padding: 0px;
}

.header_name {
    letter-spacing: 0.3em;
}

.header_container {
    width: auto;
    height: 5em;
    text-align: right;
    font-size: 0.6em;
    font-family: sans-serif;
    background-color: #222222;
    color: #F3EFE0;
    padding: 0.1em 2em;
    border-bottom: 5px solid #434242;
}


.eq {
    border: 1px solid rgba(0,0,255,0);
    border-left: 3px solid #22A39F;
    padding-left: 5px;
    margin: 10px;
    font-size: 2em;
}

.github_icon {
    padding: 0.5em 1em;
    position: absolute;
    left: 0;
    width: auto;
    height: 4em;
}

.mechanics_div {
    width: auto;
    padding: 1em;
    height: auto;
    text-align: left;
    border-bottom: 5px solid #222222;
}